
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>



<%# Welcome Landing Page which user views once successfully authenticates and logs in using their user credentials
If user has logged in, they will view navbar as well as a signout button. 
If user has not logged in yet, they will view the log in and sign up buttons an not yet have access to the navbar%>
<h1 style="color: #00008B" class="text-center"><b>Welcome to AlumniNet!</b></h1>
<h4 style="color: #7787b1" class="text-center"><i>We are the premier social network for Brandeis students seeking connections with Brandeis alumni!</i></h4>
<% if logged_in? %>
     <% if current_user.gradyear.to_i < 2021 %>
     <h6 class="text-center"><i>Alumni</i></h1>
     <% else %>
     <h6 class="text-center"><i>Student</h1>
      <%end%>

      <% if logged_in? %>
      <br>
      <div style="font-style:italic; font-weight:bold">
          <p >You are logged in as <%= current_user.username %> </p>
      </div>
      <%end%>

    <h6 class="text-left"><i>User Profile Details</i></h4>
    <p class="text-left"><i>Username: <%= current_user.username %></i></p>
    <p class="text-left"><i>Full Name: <%= current_user.name %></i></p>
    <p class="text-left"><i>Email: <%= current_user.email %></i></p>
    <p class="text-left"><i>Interests: <%= current_user.interests %></i></p>
    <p class="text-left"><i>Major: <%= current_user.major %></i></p>
    <p class="text-left"><i>Grad Year: <%= current_user.gradyear %></i></p>

   <% else %>
   <h6 style="color: #088F8F" class="text-center"><b>Click the button below log in to your account. Don't have an account yet? Sign up now!</b></h6>
     <div class = "d-flex align-items-center justify-content-center">
        <%= button_to "Login To Account", '/login', method: :get%>
     </div>

    <div class = "d-flex align-items-center justify-content-center">
         <%= button_to "Sign Up!", '/signup', method: :get%>
    </div>
<%end%>



