
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>



<%# Welcome Landing Page which user views once successfully authenticates and logs in using their user credentials
If user has logged in, they will view navbar as well as a signout button. 
If user has not logged in yet, they will view the log in and sign up buttons an not yet have access to the navbar%>
<h1 style="font-family: Merriweather; color: #00008B" class="text-center"><b>Welcome to the Brandeis AlumniNet!</b></h1>
<h4 style="font-family: Georgia; color: #7787b1 border:3px; border-style:solid; border-color:#96A1A7; padding: 1em;" class="text-center"><i>We are the premier social network for Brandeis students seeking connections with Brandeis alumni!</i></h4>
<% if logged_in? %>
     <% if current_user.gradyear.to_i < 2022 %>
     <h6 class="text-center"><i>Alumni</i></h1>
      <h5 style= "font-family: Georgia;" class="text-center">Alumni: You are logged in, <%= current_user.username %>!</h5>
     <% else %>
      <h5 style= "font-family: Georgia;" class="text-center">Student: You are logged in, <%= current_user.username %>!</h5>
      <%end%>


    <table class="table" style="font-family: Merriweather; color: #36454F" id="mytab2">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Interests</th>
      <th scope="col">Major</th>
      <th scope="col">Graduation Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  

    <h4 style="font-family: Merriweather; color: #00008B"class="text-center"><b>User Profile Details</b></h4>
    
    <td><%= current_user.username %></td>
    <td><%= current_user.name %></td>
    <td><%= current_user.email %></td>
    <td><%= current_user.interests %></td>
    <td><%= current_user.major %></td>
    <td><%= current_user.gradyear %></td>

   <% else %>
   <h6 style="font-family: Georgia; color: #00008B" padding: 1em;" class="text-center">Click the button below log in to your account. Don't have an account yet? Sign up now!</h6>
     <div class = "d-flex align-items-center justify-content-center">
        <%= button_to "Login To Account", '/login', method: :get%>
     </div>

    <div class = "d-flex align-items-center justify-content-center">
         <%= button_to "Sign Up!", '/signup', method: :get%>
    </div>
<%end%>



