<%# Form for Search Page with Enroll Functionality %>
<h1 class="text-center my-5">Course Search</h1>

<%= form_with(url: search_path, local: true, method: :get) do |form| %>
  <div class="row mb-5">

    <div class="form-group col-sm-4">
      <%= form.label :subject, 'Subject:' %>
      <%= form.select :subject, Subject.pluck(:name, :id),{prompt: 'Select Subject'} , class: 'form-control' %>
    </div>

    <div class="form-group col-md-8">
      <%= form.label :course_name_, 'Name:' %>
      <%= form.text_field :course_name, onkeyup: 'Rails.fire(this.form, "submit")', placeholder: 'Course Name', class: 'form-control' %>
    </div>

   <%=form.submit 'Search'%>

   <%=render partial: 'search/show'%>
  </div>
<% end %>
