<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>



<h1>Conversations</h1>
<%= form_tag conversations_path, method: :post do %>
  <div>
    <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :name) %>
  </div>

  <div>
    <%= text_field_tag :subject, nil, placeholder: "Subject" %>
  </div>

  <div>
    <%= text_area_tag :body, nil, placeholder: "Leave a comment" %>
  </div>

  <%= submit_tag %>
<% end %>


<script>

queryString = window.location.search;

urlParams = new URLSearchParams(queryString);

other = urlParams.get('other');

if(other.length > 0){
  opt=document.createElement("option");
  opt.value=other;
  opt.innerText=other;
  document.getElementById("user_id").appendChild(opt);
  $("#user_id").val(other);
}



</script>

