

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>











<p id="notice"><%= notice %></p>
    <div class="col">
    </div>
<div class = "d-flex align-items-center justify-content-center">
<h1 style="font-family: Merriweather; color: #00008B;" class="text-center"><b>User Directory</b></h1>
</div>

<div class = "d-flex align-items-center justify-content-center">
<h6 style="font-family: Georgia; color: #7787b1 border:2px; border-style:solid; border-color:#96A1A7; padding: 1em;" class="text-center">Below is a list containing all of the current students at Brandeis University. Graduation year and major are also displayed.</h6>
</div>

<h5 style="font-family: Merriweather; color: #00008B;"><b>Search Users</b></h5>
<form action="/users" method="get">

<input type="text" name="term" id="term" placeholder="Type to search for users">

<input type="submit" value="Submit">

</form>




<table class="table" style="font-family: Merriweather" id="mytab1">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Interests</th>
      <th scope="col">Major</th>
      <th scope="col">Graduation Year</th>
      <th scope="col">Follow</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  
  
    <% @users.each do |user| %>
      <tr scope="row">
        <td><%= user.name %></td>
        <td> <a href="mailto:<%= user.email %>" > <%= user.email %>  </a> </td>
        <td><%= user.interests %></td>
        <td><%= user.major %></td>
        <td><%= user.gradyear %></td>
        <td>

        <form action="/followers" method="post">

        <input style="display:none" type="text" name="otheruser" id="otheruser" value='<%= user.name %>'>
        <input class="user" style="display:none" type="text" name="thisuser" id="thisuser" value='<%= current_user.username %>'>


          <input value="Follow" type="submit"></input>
        </form>
        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>




<script>


var table = document.getElementById("mytab1");
for (var i = 0, row; row = table.rows[i]; i++) {
   for (var j = 0, col; col = row.cells[j]; j++) {
     t=col.innerText;
     if(t=="Rasvik"){
	row.remove();
     }
   }  
}


var table = document.getElementById("mytab1");
for (var i = 0, row; row = table.rows[i]; i++) {
   for (var j = 0, col; col = row.cells[j]; j++) {
     t=col.innerText;
     if(t==currentuser){
	      row.children[5].remove();
     }
   }  
}


query = window.location.search;

//Get search terms from URL
urlParams = new URLSearchParams(query);
searchterm=urlParams.get('term');

if(searchterm == null){
  searchterm=""
}

//Remove all search rows that do not contain the given search term
var allRows = $('.table tbody tr');
        allRows.each(function(){
            if( ! $(this).is(':contains("'+searchterm+'")'))  {
                $(this).css({"display":"none"});
            }
        });

</script>