<%# The form for users to sign up to create an account if they do not already have one. %>
<h1 style="font-family: Merriweather; color: #00008B" class="text-center"><b>Sign Up</b></h1>
<h6 style="font-family: Georgia; color: #7787b1 border:2px; border-style:solid; border-color:#96A1A7; padding: 1em;" class="text-center">Don't have an account yet? Sign up here! Enter your personal details to create your account and start using AlumniNet now! </h6>
<div class = "d-flex align-items-center justify-content-center">
<%= form_for(:user, url: users_path) do |f|%>
  <%= f.label :username%>
  <%= f.text_field :username%>
  <%= f.label :password%>
  <%= f.password_field :password%>
  <%= f.label :name%>
  <%= f.text_field :name%>
  <%= f.label :email%>
  <%= f.text_field :email%>
  <%= f.label :interests%>
  <%= f.text_field :interests%>
  <%= f.label :major%>
  <%= f.text_field :major%>
  <%= f.label :gradyear%>
  <%= f.text_field :gradyear%>
  <br>
  <br>


  <%= f.submit %>
<%end%>
</div>






