<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

<p id="notice"><%= notice %></p>

<% if logged_in? %>
<div style="font-style:italic; font-weight:bold">
    <p>You are logged in as <%= current_user.username %> </p>
</div>
<p style="display:none" id="currentuser"><%= current_user.username %></p>
<%end%>


<h1 style="font-family: Merriweather; color: #00008B" class="text-center"><b>Connections</b></h1>
<h6 style="font-family: Georgia; color: #7787b1 border:2px; border-style:solid; border-color:#96A1A7; padding: 1em;" class="text-center">This is your connections page, where you will see both your followers and the people you follow.  Click on a name to start a conversation with a connection!</h6>


<strong>

<p id="followercount"></p>
</strong>
<div id="followerlist"></div>

<strong>
<p id="followingcount"></p>
</strong>
<div id="followinglist"></div>


<table id="followertable" style="display:none">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @followers.each do |follower| %>
      <tr>
        <td class="fromcell"><%= follower.from %></td>
        <td class="tocell"><%= follower.to %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<script>

user=document.getElementById("currentuser").innerHTML;
followercount=0
followingcount=0
i=0

var table = document.getElementById("followertable");
for (var i = 0, row; row = table.rows[i]; i++) {
   fromuser = row.children[0].innerText;
   touser = row.children[1].innerText;
   if(fromuser == user){
    followingcount++;
    var btn = document.createElement("a");
    btn.href = "/conversations/new?other=" + touser;
    btn.innerText=touser
    document.getElementById("followinglist").appendChild(btn);  
    br=document.createElement("br");
    document.getElementById("followinglist").appendChild(br); 
  }
  if(touser == user){
    followercount++;
    var btn = document.createElement("a");
    btn.href = "/conversations/new?other=" + fromuser;
    btn.innerText=fromuser
    document.getElementById("followerlist").appendChild(btn);  
    br=document.createElement("br");
    document.getElementById("followerlist").appendChild(br); 
  }
}


if(followercount==0){
  followertext="No one follows you!"
}
if(followingcount==0){
  followingtext="You follow no one!"
}

document.getElementById("followercount").innerText="Followers: You currently have " + followercount + " followers";


document.getElementById("followingcount").innerText="Follwing: You currently follow " + followingcount + " people";


</script>
