<%# Enrolled Courses Page listing all courses enrolled by te user %>
<p id="notice"><%= notice %></p>

<h1>
 <h1 class="text-center my-5">Hi <%= current_user.username %>, here are your enrolled courses:
</h1>


<table class="table table-striped">
  <thead>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.Code %></td>
      <td><%= course.name %></td>
      <td><%= course.Description %></td>
    </tr>
  <% end %>
  </tbody>
</table>