<h1>Alumni Info</h1>
<%= form_with url: "/student_form", model: @student, local: true, method: :post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control' %>
  <%= f.label :interests %>
  <%= f.text_field :interests, class: 'form-control' %>
  <%= f.label :employment %>
  <%= f.text_field :employment, class: 'form-control' %>
  <%= f.label :major %>
  <%= f.text_field :major, class: 'form-control' %>
  <%= f.submit "Submit Form" %>
<% end %>